/* STYLE GUIDE */

/*
tomato rgb: 255, 99, 71
tomato hex: #ff6347
navbar background hex: #212529

*/

/* ----- In alphabetical order ----- */

/* BOOTSTRAP COMPONENTS */

.jumbotron-heading {
  color: tomato;
}

.jumbotron {
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer #about {
  padding-left: 1rem;
}


/* CAROUSEL */

.carousel .carousel-indicators {
  background-color: tomato;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: tomato;
}

.carousel-inner img {
  max-width: 400px;
  max-height: 500px;
}

#donationsCarousel {
  max-width: 400px;
  max-height: 500px;

}


/* GENERAL */

#thanks {
  color: tomato;
  font-family: 'Sofia', cursive;
}

.tomato {
  color: tomato;
}

#map {
  height: 30rem;
  width: 100%;

}


/* IMAGES */

.venmo {
  height: 1.8rem;
  padding-right: 1.3rem;
  vertical-align: bottom;

}

.fa-gratipay {
  color: tomato;
  padding-right: 1.2rem;
}

/*NAVBAR*/

.nav-main {
  color: tomato;
}


/* FONT AWESOME*/

.fab fa-gratipay {
  padding: 10px;
}

.fa-2x {
  padding-right: 15px;
}


